body{
    font-size: 3vw;
}

.signup{
    display: flex;
    justify-content: center;
    /* flex-direction: row;
    margin: 5vw;
    padding: 2vw; */
    /* max-width: 10vw; */
}

.up{
}

.form-group{
    font-size: 2vw;
}


.in{
    margin: 7vw;
}

legend{
    font-style: italic;
    font-size: 3vw;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin: 3vw;
}

li{
    margin: 2vw;
}

.selection{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 7vw;
    border: 3vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.navbar-right{
margin: 2vw;
margin-left: 60vw;
}

button{
    margin: 2vw;
}
